.delx{
    justify-content: center;
    align-items: center !important;
}
.container-fluid{
    background-image: linear-gradient(to right, #00bed7, #00b9dc, #00b3df, #00ade2, #00a6e4, #00a0e3, #0099e2, #0093e1, #008cdd, #0185da, #0b7dd5, #1576d1);
}
.bord::after{
    content: "";
    background-color: rgba(0, 0, 0,.5);
    width: 180px;
    height: 2px;
    position: absolute;
    bottom: -5px;
    right: 0;
}
.main-desc {
    position: relative;
}
/* .dire{
    direction: rtl;
} */